@import '../../style/variables';


#formDiv {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;
    background-color: $darkAccent;
    width: 50%;


h3 {
    font-family: $headerFont;
    font-size: 30px;
}

.jobForm {
    font-family: $mainFont;
    display:flex;
    justify-content: flex-start;
    margin: 2em;
    flex-direction:column;
  
   
    label {
        display: flex;
        flex-direction:column;
        width: 175px;
        font-size: 20px;
        margin-bottom: 1.5em;
        color: white;
        background-color: rgba(90, 90, 90, 0.308);
     
    }
}

}