@import "../../style/variables";

h1 {
	font-family: $mainFont;
}

ul {
	list-style-type: none;
  text-align: left;
  li {
    padding: 5px;
  }
}

p {
	width: 500px;
	font-size: 20px;
}

.splashDiv div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px){
  .splashDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}