@import '../../style/variables';

.myjob-table {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2em;
    background-color: $darkAccent;
    width: 50%;


.headings {
    font-family: $mainFont;
    font-size: 20px;
    color: $light;
}
}