@import "../../style/variables";

.myjob-table {
	font-family: $mainFont;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-radius: 15px;
	margin: 2em;
	background-color: $darkAccent;
	width: 75%;

	table {
		margin: 1em;
		width: 95%;
		border-collapse: collapse;
		border-radius: 15px;
		border-spacing: 20px 20px;
	}

	#jobRow {

		td {

			padding-bottom: 0.5em;
			padding-top: 0.5em;
		}
	}

	#headings {
    color: white;
		font-size: 1.25em;
		font-weight: bold;
	}

	h3 {
		font-family: $headerFont;
		color: white;
		font-size: 30px;
		text-shadow: 4px 4px #00000046;
	}
}
