@import url('https://fonts.googleapis.com/css?family=Fredoka+One|PT+Mono|Varela+Round&display=swap');

// Color Scheme
$mainColor: #F58638;
$darkAccent: #D14344;
$lightAccent: #91B0BB;
$light: #F9F9F9;
$dark: #343445;

// Fonts
$headerFont: 'Fredoka One', cursive;
$mainFont: 'Varela Round', sans-serif;
$monoFont: 'PT Mono', monospace;