@import '../../style/variables';

header {
    background-image: linear-gradient(to top, $mainColor 0%, $darkAccent 100%);
  
    h1 {
      font-family: $headerFont;
      font-size: 50px;
      color: #eee;
      display: inline-block;
      text-shadow: 4px 4px #00000046;
    }
  
    h4 {
      margin: 0;
      margin-right: 4em;
      text-align: right;
      color: $light
    }
}