@import '../../style/variables';

header {
    background: $dark;
  
    h1 {
      font-family: $headerFont;
      font-size: 45px;
      color: #eee;
      display: inline-block;
      margin: 1em auto;
    }
  
}