@import '../../style/variables';

.jobList-table {
    font-family: $mainFont;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    margin: 2em;
    width: 80%;

    table {
        border-radius: 15px;
        margin: 1em;
        background-color: $mainColor;
        width: 95%;
        border-collapse: collapse;
        border-spacing: 20px 20px;

    }


    #jobRow {
        background-color: $dark;
        border-bottom: 2px solid $light;
        color: $light;

        td {
            padding-bottom: .5em;
            padding-top: .5em;
        }
    }

    #headings {
        font-size: 1.25em;
        font-weight: bold;
        font-size: 20px;
    }

}

h2 {
    font-family: $headerFont;
    color: $light;
    font-size: 40px;
    text-shadow: 4px 4px #00000046;
}
