@import "../../style/variables";

#nav {
	font-family: $headerFont;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $mainColor;
	box-shadow: 5px 5px 5px rgba($dark, 0.3);

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			padding: 0.5rem 2rem;
			position: relative;

			span {
				color: white;
				text-decoration: none;

				&:after {
					bottom: 0;
					content: "";
					left: 0;
					position: absolute;
					right: 0;
					top: 0;
				}
			}

			&:hover {
				background: $darkAccent;
				cursor: pointer;
			}
		}
	}
}
